@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap&family=Fjalla+One&display=swap');

:root{
    --green00: #d7e3af;
    --green01: #c8eb54;
    --green02: #88994d;
    --green03: #384310;
    --purple01: rgba(150, 102, 173, 0.2);
    --purple02: #9666ad;
    --purple03: #541d70;
    --purple04: #381c47;    
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;    
}

body{
    background-image: linear-gradient(to top, var(--purple04) , var(--purple03)); 
    display: flex;
    flex-direction: column;    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nome{
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 7px;    
    @media screen and (max-width: 1049px)}
    }
}

header{
    background: rgba(150, 102, 173, 0.2);      
    margin-top: 20px;
}
#divdoheader{        
    margin-left: auto;
    margin-right: auto;        
    color: var(--green01);  
    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center;
    column-gap: 10%;
    padding: 15px 0px;           
}

header a{
    color: var(--green01);       
    font-size: 1.5em;
    font-family: "Outfit", sans-serif; 
    @media screen and (max-width: 501px) {
        font-size: 4vw;        
    }          
}



header ul{
    list-style: none;
    display: flex;             
    justify-content: space-between;   
    @media screen and (max-width: 501px) {
        justify-content: center;        
        column-gap: 4vw;
    }    
}

@media screen and (min-width: 1049px) {
    #sobresection{        
        width: 1024px;       
        display: flex;
        flex-direction: row;
        justify-content: center;   
        align-items: center;     
        padding-top: 10px;
        padding-bottom: 10px; 
        column-gap: 10px;    
    }

    #divdoheader nav{
        width: 500px;        
    }
}

@media screen and (max-width: 1048px) {
    #sobresection{        
        width: 90%;       
        display: flex;
        flex-direction: row;
        justify-content: center;   
        align-items: center;
        flex-wrap: wrap;     
        padding-top: 10px;
        padding-bottom: 10px; 
        column-gap: 10px;    
    }

    #divdoheader nav{
        width: 400px;        
    }
}

#sobresection > figure{
    @media screen and (max-width: 500px){
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#sobre{
    color: var(--green00);
}

p{
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding: 5px;
}

.header1{
    color: var(--green01);
    font-size: 4em;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content{
    font-size: 2em;
    font-family: "Outfit", sans-serif;
    color: var(--green01);       
}

#portfoliosection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolionavblock{
    background-color: var(--purple04);
    width: 100%;
}

#portfoliolist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    list-style: none;
}

#portfoliolist>li{
    color:var(--green01);
    font-size: 24px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

#portfoliolist{
    > li{
        color: gray;
        [type="radio"]{
            appearance: none;               
        }        
    }
}

[type="radio"] + label:hover{
    cursor: pointer;
    color: var(--green00);
}

[type="radio"]:checked + label{    
    color: var(--green01);    
    text-shadow: 0px 0px 20px var(--green01);    
}

#portfoliosection:has(#d3[type="radio"]:checked)
{
    .container3d{
        visibility: visible;
        transition: opacity 1s;        
        position: relative;        
        > div{
            transition: 0.5s ease-in-out;
        }
    }

    .containergamedev{
        visibility: hidden;
        opacity: 0;
        position: absolute; 
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                         
    }

    .containerwebdev{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                  
    }
    
}
#portfoliosection:has(#gamedev[type="radio"]:checked)
{    
    .containergamedev{
        visibility: visible;
        transition: opacity 1s;       
        position: relative;   
        > div{
            transition: 0.5s ease-in-out;
        }     
    }

    .container3d{
        visibility: hidden;
        opacity: 0;
        position: absolute;   
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                  
    }

    .containerwebdev{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                  
    }
    
}
#portfoliosection:has(#webdev[type="radio"]:checked)
{
    .containerwebdev{
        visibility: visible;
        transition: opacity 1s;        
        position: relative;
        > div{
            transition: 0.5s ease-in-out;
        }
    }

    .containergamedev{
        visibility: hidden;
        opacity: 0;
        position: absolute;  
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                        
    }

    .container3d{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transform:translateX(-50%);
        > div{
            background-position: 20%;
        }                  
    }
    
}

.containers{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.container3d{    
    width: 100%;    
    display: flex;
    justify-content: center;  
    margin: 20px;  
    height: 500px;
    gap: 10px;
    > div{
        border-radius: 20px;
        background-color: blue;

        @media screen and (min-width: 1049px) {  
            flex: 0 0 150px;
        }          
        flex: 0 0 calc(100vw/4*0.75); 
        transition: 0.5s ease-in-out;     
        cursor: pointer;  
        box-shadow: 1px 5px 15px #1e0e3e; 
        position: relative;
        overflow: hidden;
        &:nth-of-type(1){
            background: #ffffff url("Imagens/imagem-carrossel-charmander-260x540-jpeg.jpg") no-repeat 50% / cover;
        }
        &:nth-of-type(2){
            background: #ffffff url("Imagens/imagem-carrossel-chavessamura-260x540-jpeg.jpg") no-repeat 50% / cover;
        }
        &:nth-of-type(3){
            background: #ffffff url("Imagens/imagem-carrossel-king-260x540-jpeg.jpg") no-repeat 50% / cover;
        }
        &:nth-of-type(4){
            background: #ffffff url("Imagens/imagem-carrossel-mushroom260x540-jpeg.jpg") no-repeat 100% / cover;
        }

        .content{
            font-size: 1.5rem;
            color: var(--green00);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 20px;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            opacity: 0;
            background: rgb(2,2,46);
            background: linear-gradient(0deg, rgba(74, 8, 87, 0.699) 0%,
            rgba(255, 125, 3, 0) 100%);
            transform: translateY(100%);
            transition: opacity 0.5s, ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
        }                

        &:hover{
            @media screen and (min-width: 750px) { 
                flex: 0 0 250px;                 
            }
            flex: 0 0 calc(100vw/4*1);                       
            box-shadow: 0px 0px 50px var(--green01); 
        }        

        &:hover .content{
            @media screen and (max-width: 749px) {
                font-size: 1rem;
            }
            
            opacity: 1;
            transform: translateY(0%);
            visibility: visible;
        }        
    }
}

.containergamedev{    
    width: 100%;    
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 500px;
    gap: 10px;
    > div{
        border-radius: 20px;
        background-color: blue;
        @media screen and (min-width: 1049px) {  
            flex: 0 0 150px;
        }  
        flex: 0 0 calc(100vw/4*0.75); 
        transition: 0.5s ease-in-out;     
        cursor: pointer;  
        box-shadow: 1px 5px 15px #1e0e3e; 
        position: relative;
        overflow: hidden;
        &:nth-of-type(1){
            background: #ffffff url("Imagens/imagem-carrossel-gamedev-slimetic-260x540-jpeg.jpg") no-repeat 50% / cover;
        }        

        .content{
            font-size: 1.5rem;
            color: var(--green00);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 20px;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            opacity: 0;
            background: rgb(2,2,46);
            background: linear-gradient(0deg, rgba(74, 8, 87, 0.699) 0%,
            rgba(255, 125, 3, 0) 100%);
            transform: translateY(100%);
            transition: opacity 0.5s, ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
        }
        
        &:hover{
            @media screen and (min-width: 1049px) { 
                flex: 0 0 250px;                 
            }
            flex: 0 0 calc(100vw/4*1);                       
            box-shadow: 0px 0px 50px var(--green01); 
        }        

        &:hover .content{
            @media screen and (max-width: 1048px) {
                font-size: 1rem;
            }
            
            opacity: 1;
            transform: translateY(0%);
            visibility: visible;
        }       
    }
}

.containerwebdev{    
    width: 100%;    
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 500px;
    gap: 10px;
    > div{
        border-radius: 20px;
        background-color: blue;
        @media screen and (min-width: 1049px) {  
            flex: 0 0 150px;
        }  
        flex: 0 0 calc(100vw/4*0.75);  
        transition: 0.5s ease-in-out;     
        cursor: pointer;  
        box-shadow: 1px 5px 15px #1e0e3e; 
        position: relative;
        overflow: hidden;
        &:nth-of-type(1){
            background: #ffffff url("Imagens/imagem-carrossel-webdev-meusite-260x540-jpeg.jpg") no-repeat 50% / cover;
        }        

        .content{
            font-size: 1.5rem;
            color: var(--green00);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 20px;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            opacity: 0;
            background: rgb(2,2,46);
            background: linear-gradient(0deg, rgba(74, 8, 87, 0.699) 0%,
            rgba(255, 125, 3, 0) 100%);
            transform: translateY(100%);
            transition: opacity 0.5s, ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
        }
        
        &:hover{
            @media screen and (min-width: 1049px) { 
                flex: 0 0 250px;                 
            }
            flex: 0 0 calc(100vw/4*1);                       
            box-shadow: 0px 0px 50px var(--green01); 
        }        

        &:hover .content{
            @media screen and (max-width: 1048px) {
                font-size: 1rem;
            }
            
            opacity: 1;
            transform: translateY(0%);
            visibility: visible;
        }      
    }
}

#curriculoimage{    
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px #0000008f);
    max-width: 90%;
}

#curriculosection{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    margin-bottom: 10px;
}

#curriculoaside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdfcurriculo{
    color: var(--green01);
    font-size: 24px;    
}

footer{
    background-color: var(--purple01);
    margin-bottom: 20px;
    margin-top: 20px;
    height: fit-content;   
    align-content: center;         
    padding: 10px;        
}

address{
    display: flex;            
    @media screen and (min-width: 1049px) {
        flex-direction: row;
    }        
    flex-direction: column; 
    text-align: center;  
    justify-content: center;     
    column-gap: 5%;    
}

address>a{
    text-decoration: none;
    color: var(--green00);
    font-size: 21px;    

    &#num::before{
        content: '☎️ ';
        font-style: normal;
    }
    &#email::before{
        content: '📧 ';
        font-style: normal;
    }

}
